name: CI workflow

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - main

jobs:
  backend:
    name: Backend Lint & Test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@v4
      - name: Install dependenciens
        run: npm install
      - name: Run build
        run: npm run build
      - name: Run tests
        run: npm run test
      - name: Run lint
        run: npm run lint

  frontend:
    name: Frontend Lint & Test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: npm install


